{% extends 'base.html' %}
{% block title %}View booking - {booking.movie.title}{% endblock %}
{% block content %}
<h2 class="text-center">Booking Details</h2>
<table>
    <tr><th>Booking ID:</th><td>{{ booking.id }}</td></tr>
    <tr><th>User ID:</th><td>{{ booking.user_id }}</td></tr>
    <tr><th>Movie:</th><td>{{ booking.movie.title if booking.movie else booking.movie_id }}</td></tr>
    <tr><th>Booking Time:</th><td>{{ booking.booking_time }}</td></tr>
    <tr><th>Seats:</th><td>{{ booking.seats }}</td></tr>
    <tr><th>Email:</th><td>{{ booking.email }}</td></tr>
</table>
    <button type="submit" class="dashboard-btn"><a href="{{ url_for('operator.dashboard') }}" class="btn btn-back">Back to Dashboard</a></button>
{% endblock %}